<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary px-5" data-bs-theme="dark">

    
    <div class="container-fluid">
        <a class="navbar-brand fs-2 fw-bold" href="#">.Auth</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fs-6 ms-auto">
                <% if(!user) {%>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/user/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Sign in</a>
                </li>
                <% } else{ %>
                <li class="nav-item">
                    <form action="/user/logout" method="POST">
                      <button class="nav-link">Sign out</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
    </div>

</nav>