<% layout('layouts/boilerplate') %>

    <div style="min-height: 60vh;" class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-xl-6">
                <div class="card text-bg-light border-secondary p-4" style="width: 22rem;">
                    <h1 class="card-title text-center p-2">Extra Info</h1>
                    <div class="card-body my-3">
                        <form action="/user/<%=user._id%>/moreinfo" method="POST" class="needs-validation" novalidate>

                            <div class="mb-3">
                                <label class="form-label" for="education">Highest Qualification: </label>
                                <input class="form-control" type="text" id="education" name="education"
                                    placeholder=" --- Degree --- " required>

                                    <div class="invalid-feedback">
                                        Required Qualification
                                    </div>

                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="hobby">Hobbies: </label>
                                <textarea class="form-control" name="hobbies" id="hobby" rows="3" cols="20"
                                    placeholder="Add your hobbies here..." required></textarea>
                                    <div class="invalid-feedback">
                                        Fill hobbies!!!
                                    </div>
                            </div>

                            <div class="mt-4 text-center">
                                <button class="btn btn-outline-primary mx-1">Add Info</button>
                                <a class="btn btn-outline-danger" role="button" aria-disabled="true"
                                    href="/user/secret">cancel</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>